{% if posts %}
    <ul class="txit-group txit-list">
        {% for post in posts %}
            {% if post.post_content %}
                <li class="txit-info"><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}